@{
    ViewData["Title"] = "Home Page";
}
<div class="row justify-content-center">
        .<img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/WYZOBLVMV5FH7OPR7FL36Q7BXU.jpg" alt="Alternate Text" width="80%" height="80%" />
        <div class="text-center">
    <h1 class="display-4">Bienvenido al proyecto Inmobiliaria!  </h1>
    
</div>
</div>

